<app-nav-menu [orderlist]='orderProduct ? orderProduct : null'></app-nav-menu> 
<h2 *ngIf='productDetails'>{{productDetails.name}}</h2>
<div class='row h-100 justify-content-center align-items-center'>
    <div class="col-lg-9 align-items-center" *ngIf='productDetails'>
        <div class="card mt-4 justify-content-center">
        <div class="col-lg-5 col-md-9">
          <!-- <img class="card-img-top img-fluid" [src]="productDetails.imageURL" alt=""> -->
          <div class="container">
                <div class="row">
                  <div class="col-md-12 py-3">
                    <h2 class="pb-2">{{productDetails.name}}</h2>
                    <ngb-carousel *ngIf="productDetails.imagesURLList">
                      <ng-template ngbSlide *ngFor="let image of productDetails.imagesURLList">
                        <img  class="card-img-top img-fluid" [src]="image" alt="">
                      </ng-template>
                    </ngb-carousel>
                  </div>
                </div>
              </div>
        </div>
          <div class="card-body">
            <h4 style="color: red;">{{productDetails.price | currency}}</h4>
            <p class="card-text">{{productDetails.fullDescription}}</p>
          </div>
          <hr>
        <div class='row h-100 justify-content-center align-items-center'>
         <button type="button" [disabled]='disableMinusButton' (click)="decrementCounter()" class="col-1 btn btn-danger" style="margin-right: 62px">-</button>
         <button type="button" (click)="incrementCounter()" class="col-1 btn btn-success" style="margin-right: 62px">+</button>
         <p aria-live="polite"><strong>{{ itemCount }}</strong></p>
        </div>
        <div>
          <button type="button" class="float-right btn btn-primary" (click)="addToCart()" style="margin-right: 20px !important">Add To Cart</button>
        </div>
        <br>
        </div>
      </div>
</div>