<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white fixed-top border-bottom box-shadow mb-3"
  >
    <div class="container">
     <a class="navbar-brand" [routerLink]="['/cart']">  
        <div class='col-xs-6 notification'>
         <i class="fas fa-shopping-cart"></i>
          <span class="badge badge-danger" style="margin-right: 10px;margin-top: 10px;">{{ordersCount}}</span>
          <span class="eshopLogInText">eShop.com</span>
          </div>
       </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow"> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i> {{currentUser.name}} </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="#">Home</a>
                    <a class="dropdown-item" [routerLink]="['/filter']">Filter</a>
                    <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)='logOut()'>Log out</a>
                </div>
              </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
